.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  gap: 40px;
}
h1, h2, p {
  margin: 0px;
}
h2 {
  margin-bottom: 20px;
}
